@font-face {
	font-family: 'OpenSansHebrew-Regular';
	src: url('../fonts/OpenSansHebrew/OpenSansHebrew-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSansHebrew/OpenSansHebrew-Regular.woff') format('woff'),
	url('../fonts/OpenSansHebrew/OpenSansHebrew-Regular.ttf')  format('truetype'),
	url('../fonts/OpenSansHebrew/OpenSansHebrew-Regular.svg#OpenSansHebrew-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
